.container-1600 {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    position: relative;
    max-width: 1600px;
    width: 100%;
}

.users-score {
  position: absolute;
  top: 0;
  right: 3rem;
}

.score-reset{
  position: absolute;
  top: 0;
  left: 3rem;
}

.game-window-content{
  margin: 5rem 0;
}
